body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(270deg, rgb(90, 5, 5), rgb(0, 0, 0), rgb(6, 70, 43), rgb(0,0,0), rgb(47, 13, 92), rgb(0,0,0), rgba(133, 70, 11, 0.795), rgb(0,0,0), rgb(8, 63, 99), rgb(0,0,0));
  background-size: 800% 800%;
  animation: fundoFluido 60s ease infinite;
}

@keyframes fundoFluido {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#titulo {
  font-family: "Meow Script", "cursive";
  font-size: 120px;
  color: black;
  margin-left: 40px;
}


#texto {
    font-family:"Sour Gummy", sans-serif;
    font-size: 27px;
    margin-top: -65px;
    margin-left: 40px;
    

  }
  
  .caixa {
    background-color: rgba(233, 230, 240, 0.821);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 90%;
    margin-left: 20px;
    max-width: 1480px;
    max-height: 1000px;
  }
  

  .caixa h1 {
    text-align: left;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
  }

  .special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.meow-script-regular {
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-style: normal;
}


.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.logo {
  display: block;
  align-items: left;
  margin-top: 0;
    margin-left: 0;
    padding: 0;
    width: auto;
    height: 80px;
}

.cabecalho{
  display: flex;
  align-items: left;
}

.container {
  display: flex;
  gap: 10px; 
}

.menu {
  background-color: rgba(115, 100, 151, 0.521);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 150px;
  height: 100vh;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 5px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background-color: rgb(44, 33, 51);
  border-radius: 8px;
  transition: background-color 0.4s ease, color 0.4s ease;
}


.menu a:hover {
color: rgb(100, 9, 27);              
background-color: white;     
}

.texto a:hover {
  size: 25px;  
  }
