body {
  margin: 0;
  background: linear-gradient(270deg, rgb(90, 5, 5), rgb(0, 0, 0), rgb(6, 70, 43), rgb(0,0,0), rgb(47, 13, 92), rgb(0,0,0), rgba(133, 70, 11, 0.795), rgb(0,0,0), rgb(8, 63, 99), rgb(0,0,0));
  background-size: 800% 800%;
  animation: fundoFluido 60s ease infinite;
}

html, body {
  height: 100%;
}

@keyframes fundoFluido {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#titulo {
  font-family: "Meow Script", "cursive";
  font-size: 120px;
  color: black;
  margin-left: 40px;
}


#texto {
    font-family:"Sour Gummy", sans-serif;
    font-size: 27px;
    margin-top: -65px;
    margin-left: 40px;
    
  }

  #menu_texto {
    font-family: "Meow Script", "cursive";
    font-size: 40px;
    margin-top: 15px;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.705)
  }
  
  .caixa {
  background-color: rgba(233, 230, 240, 0.821);
  padding: 15px 40px; 
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin-left: 20px;
  max-width: 1480px;
  min-height: 100vh;
  max-height: none;
  flex: 1;
  box-sizing: border-box;
}


  .caixa h1 {
    text-align: left;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
  }

  .special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.meow-script-regular {
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-style: normal;
}


.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.logo {
  display: block;
  align-items: left;
  margin-top: 0;
    margin-left: 0;
    padding: 0;
    width: auto;
    height: 80px;
}

.cabecalho{
  display: flex;
  align-items: left;
}

.container {
  display: flex;
  gap: 10px;
  min-height: 100vh; 
  align-items: stretch; 
}

.menu {
  background-color: rgba(115, 100, 151, 0.521);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 352px;
  height: auto;
  min-height: 100vh;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 5px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background-color: rgb(44, 33, 51);
  border-radius: 8px;
  transition: background-color 0.4s ease, color 0.4s ease;
}


.menu a:hover {
color: rgb(100, 9, 27);              
background-color: white;     
}

.texto a:hover {
  size: 25px;  
  }

  .spotify-carousel input {
    display: none;
  }
  
  .players .item {
    display: none;
    margin-top: -20px;
  }
  
  input#player1:checked ~ .players .player1,
  input#player2:checked ~ .players .player2,
  input#player3:checked ~ .players .player3,
  input#player4:checked ~ .players .player4,
  input#player5:checked ~ .players .player5 {
    display: block;
  }
  
  .nav-buttons {
    text-align: center;
    margin-top: 10px;
    color: black;
    size: 15px;
  }

  .nav-buttons label {
    display: none;   
    transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease;
    margin: 0 10px;
    font-size: 31px;
    cursor: pointer;
  }  

  .nav-buttons label:hover{
    color: white;  
    transition: background-color 0.4s ease, color 0.4s ease;
    transform: scale(1.4);
  }
  
  
  input#player1:checked ~ .nav-buttons label:nth-child(1),
  input#player1:checked ~ .nav-buttons label:nth-child(2),
  input#player2:checked ~ .nav-buttons label:nth-child(3),
  input#player2:checked ~ .nav-buttons label:nth-child(4),
  input#player3:checked ~ .nav-buttons label:nth-child(5),
  input#player3:checked ~ .navtext-decoration: none;
-buttons label:nth-child(6),
  input#player4:checked ~ .nav-buttons label:nth-child(7),
  input#player4:checked ~ .nav-buttons label:nth-child(8),
  input#player5:checked ~ .nav-buttons label:nth-child(9),
  input#player5:checked ~ .nav-buttons label:nth-child(10) {
    display: inline-block;
  }
  
  .ifpr {
    float: right;
    margin-top: -50px;
    margin-right: 20px;
  }

  .eu {
    float: left;
    margin-top: -10px; 
    margin-right: 40px;
    border-radius: 200px;
    opacity: 65%;
  }

.projetos {
  padding: 20px;
  max-width: 85%;
  border-radius: 10px;
  background-color: rgba(115, 100, 151, 0.521);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
  display: inline-block;
}

.projetos ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;     
  flex-wrap: wrap;     
  gap: 40px 20px; 
}

.projetos li {
  flex-direction: column;
  align-items: flex-start;
  display: inline-block;
  vertical-align: top;
}

.projetos img {
  height: 150px;
  width: auto;
  object-fit: contain;
  display: block;
  margin-bottom: 5px;
}

.projetos a {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: rgb(44, 33, 51);
  border-radius: 8px;
  color: white;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  box-sizing: border-box;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.projetos a:hover {
color: rgb(100, 9, 27);              
background-color: white;     
}
