<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Meow+Script&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  
<title>Atividade Leiaute Simplisíssima</title>

<style>
  
header {
background-color: #19242f;
color: #ff4043;
text-align: center;
padding: 10px 0;
}
.sidebar {
background-color: #1c2a39;
color: #ff4043;
padding: 15px;
box-sizing: border-box;
}
.main-content {
background-color: #f1f1f1;
color: #000;
padding: 15px;
}
footer {
background-color: #19242f;
color: #ff4043;
text-align: center;
padding: 15px 0;
height: 50px;
}

</style>
  
</head>
<body>
<header>
<h1>Cabeçalho </h1>
</header>
<div class="container">
<aside class="sidebar">
<h2>Coluna da Esquerda </h2>
<p>Conteúdo da coluna da esquerda. </p>
</aside>
<main class="main-content">
<h2>Conteúdo Central </h2>
<p>Este é o conteúdo principal da página. </p>
</main>
</div>
<footer>
<p>Rodapé </p>
</footer>
</body>
</html>
